<!DOCTYPE html>

<html>
    <head>
        <title>Student Management System</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
            <a class="navbar-brand" href="#">School Management System</a>

            <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/students}">Student Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/teachers}">Teacher Management</a>
                </li>
            </ul>
        </div>
    </nav>
        
        <br>
        <br>
        
        <div class="container">
            <div class="row">
                <h1>Teacher Database</h1>    
            </div>

            <table class = "table table-hover table-striped table-dark table-bordered">
                <thead>
                    <tr>
                        <th> Teacher First Name </th>
                        <th> Teacher Last Name </th>
                        <th> Teacher Age </th>
                        <th> Teacher Contact No </th>
                        <th> Teacher Email </th>
                        <th> Action </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr th:each = "teachers: ${teachers}">
                        <td th:text = "${teachers.first_name}"></td>
                        <td th:text = "${teachers.last_name}"></td>
                        <td th:text = "${teachers.age}"></td>
                        <td th:text = "${teachers.telephone_no}"></td>
                        <td th:text = "${teachers.email}"></td>    
                        <td align="center">
                            <a th:href="@{/teachers/edit/{id}(id=${teachers.id})}" class="btn btn-primary">Update</a>
                            <a th:href="@{/teachers/{id}(id=${teachers.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
                
            </table>
            
            <div class = "row">
                <div classs="col-lg-3">
                    <a th:href ="@{/teachers/new}" class = "btn btn-primary btn-sm mb-3">Add Teacher</a>
                </div>
            </div>
        </div>
    </body>
</html>
